* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lk-header * {
    display: inline;
}

.lk-header {
    background-color: #F4F1BB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

.navItem {
    margin: 20px;
}

.logo {
    color: #5CA4A9;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Chewy';
    font-size: 32px;
    text-shadow: 2px 2px 2px #9BC1BC;
    text-decoration: none;
}

.link {
    color: #9BC1BC;
    font-family: 'Varela Round';
    font-size: 17px;
    text-shadow: 1px 1px 1px #9BC1BC;
}

.link:hover {
    color: #ED6A5A;
}

.username-input {
    width: 20%;
}

.navLinks {
    width: 750px !important;
}

ul.ul {
    width: 750px !important;
}

